@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #081F32;
  text-align: center;
}

h2{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

h3{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #8E8E93;
  margin: 48px 0;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainLogo{
  width: 60%;
  margin-top: 86px;
}

.block{
  width: 80%;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-item{
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  /*max-width: 240px;*/
  margin-bottom: 24px;
}

.list-item img{
  width: 100%;
}

.card-text{
  padding: 12px 16px;
}

.card-text p{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}

.input{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 16px;
  padding-left: 48px;
  border-radius: 8px;
}
.input-icon{
  position: absolute;
  transform: translate(14px, 14px);
}

.input-field{
  margin: 16px 0 61px;
}

.btn{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: transparent;
  margin: 23px 23px 32px;
}

.arrow{
  margin-right: 8px;
}

.card-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img{
  border: 5px solid #F2F2F7;
  border-radius: 150px;
  margin-bottom: 16px;
}

.card-item-text{
  width: 50%;
  margin-bottom: 70px;
}

.card-item-wrapper{
  padding: 9px 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.card-item-wrapper span{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6E798C;
}


@media screen and (max-width: 615px) {
  .input-field {
    margin: 32px 0;
  }

  .list {
    justify-content: center;

  }

  .list-item {
    width: 100%;
  }

  .card-img{
    width: 60%;
    margin-top: 77px;
    margin-bottom: 34px;
  }

  .card-title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  .card-item-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-item-text{
    width: 85%
  }

  h3{
    margin: 34px 0 16px;
  }

  .card-item-wrapper{
    width: 100%;
  }
}
